@use '../../styles/partials/Variables.scss' as *;

.video__list{
    padding: $mobile-padding;
    
}

.video__container{
    display:flex;

}

.video__img{
    width: 30%;
    height: 20%;
    border-radius: .5rem;
}

.video__details{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video__title{
    
}