@use '../../styles/partials/Variables.scss' as *;

.video__list{
    padding: 0 $mobile-padding;

}
.video__next{
    color: $primary-color-silver;
    padding-bottom: $mobile-padding;
}
.video__container{
    display:flex;

}
.video__individual{
    display: flex;
    padding-bottom: 1rem;
}

.video__img{
    width: 30%;
    border-radius: .25rem;
}

.video__details{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video__title{
    font-weight: 600;
}
