@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use './mixins.scss' as *;

h1{
    font-size: $mobile-h1-font;
    font-family: $primary-font, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
}

h2, h3, h4{
    font-family: $primary-font, 'Times New Roman', Times, serif;
    font-size: $mobile-h2-font;
    font-weight: 500;
}

p{
    font-family: $primary-font, 'Times New Roman', Times, serif;
}

.desktop__view{
    @include desktop{
        display: flex;
    }
    &--left{
        @include desktop{
            border-right: .15rem solid $secondary-color-mercury;
        }
    }
    &--right{
        @include desktop{
            padding-top: 1rem;
        }
    }
}

a{
    text-decoration: none;
}
