$mobile-screen: 767px;
$tablet-screen: 768px;
$desktop-screen: 1280px;
$primary-color-black: #323232;
$primary-color-blue: #0095FF;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;
$secondary-color-black:#000000;
$secondary-color-darkblue: #0065AD;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #FAFAFA;
$mobile-padding: 1rem;
$tablet-padding: 2rem;
$primary-font: 'AvenirNextLTPro';
$mobile-h1-font: 2rem;
$mobile-h2-font: 1rem;
