$primary-color-black: #323232;
$primary-color-blue: #0095FF;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;
$secondary-color-black:#000000;
$secondary-color-darkblue: #0065AD;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #FAFAFA;
$mobile-padding: 1rem;