@use '../../styles/partials/Variables.scss' as *;

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $mobile-padding;
}

.header__logo{
    width:8rem;
}
.header__mid{
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.header__input{
    width: 100%;
    margin-right: 1rem;
    background: url('../../assets/Icons/search.svg');
    background-position:left;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    background-size: 1.5rem;
    border-radius: .25rem;
    border-color: $primary-color-silver;
    background-color: $secondary-color-alabaster;
}

.header__img{
    height: 2.5rem;
	width: 2.5rem;
	border-radius: 2.5rem;
}

.header__btn{
    background: $primary-color-blue;
    color: $primary-color-white;
    border-radius: .25rem;
    border: 1rem;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__btn--icon{
    margin-right:40%;
}