@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use '../../styles/partials/typography.scss' as *;

.comments {
  padding: $mobile-padding;
  padding-top: 0;
  @include tablet{
    padding: 0 $tablet-padding;
    padding-bottom: $tablet-padding;
  }

  &__count {
    padding-bottom: $mobile-padding;
  }

  &__title{
      color: $primary-color-silver;
      font-weight: 600;
      padding-left: 5.5rem;
      @include desktop{
        padding-left: 3.5rem;
      }
  }
  &__img {
    height: 3rem;
    width: 3rem;
    border-radius: 2.5rem;
    background-color: $primary-color-silver;
  }

  &__submission {
    display: flex;
    &--left {
      width: 15%;
      @include tablet{
        width:10%;
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      width: 80%;
      @include tablet{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      }

      .comments__input {
        background-color: $secondary-color-alabaster;
        padding: 0.75rem;
        border: 1px solid $secondary-color-mercury;
        border-radius: 4px;
        height: 7rem;
        width: 100%;
        margin-bottom: 1rem;
        resize: none;

        @include tablet{
          height: 2.5rem;
          width: 27rem;
          margin-bottom: 0;
        }
      }
      ::placeholder {
        color: $primary-color-black;
        font-size: 1rem;
        font-family: $primary-font;
        font-weight: 500;
      }
      .comments__btn {
        background: $primary-color-blue;
        border-radius: 0.25rem;
        border: 1rem;
        height: 2.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        cursor: pointer;
        @include tablet{
        margin-left: 1rem;
        }
        @include desktop{
          width: 100%;
          padding-right: 1rem;
        }

        &--icon{
          padding-left: .5rem;
          @include desktop{
            padding-left: 0;
          }
        }

        &--text{
          width:100%;
          font-size: 1rem;
          font-weight: 500;
          color: $secondary-color-alabaster;
          @include desktop{
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

.comments__container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  &--individual {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 0.125rem solid $secondary-color-mercury;
    @include tablet{
      width: 100%;
    }
  }
  &--left {
    width: 15%;
    @include tablet{
      width:10%;
    }
  }

  &--right {
    width: 80%;
    @include tablet{
      width: 100%;
    }

    .comments__card--top {
      display: flex;
      justify-content: space-between;

      .comments__username {
        font-size: 1.25rem;
        font-weight: 500;
      }

      .comments__date {
        font-size: 1.25rem;
        color: silver;
      }
    }
  }
}


.comments__description {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-wrap: wrap;
  hyphens: auto;
}
