@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.video{
    font-family: $primary-font;
    padding: $mobile-padding;
    display: flex;
    flex-direction: column;
    &__title{
        padding-bottom: 1rem;
    }

    @include tablet{
        padding: $tablet-padding;
    }
    &__stats{
        padding: 1rem 0;
        border-top: .15rem solid $secondary-color-mercury;
        border-bottom: .15rem solid $secondary-color-mercury;
        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__stats--top{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-bottom: 1rem;
        @include tablet{
            width: 50%;
            padding-bottom: 0;
        }
        .video__author{
            width: 50%;
        }
        .video__views{
            color: $primary-color-silver;
            width: 50%;
            padding-left: .5rem;
        }
    }
    &__stats--bottom{
        display: flex;
        justify-content: start;
        align-items: center;
        @include tablet{
            width: 50%;
        }
        .video__date{
            color: $primary-color-silver;
            width: 50%;
        }
        .video__likes{
            color: $primary-color-silver;
            width: 50%;
            padding-left: .5rem;
        }
    }
    &__description{
        padding: $mobile-padding 0;
        line-height: 2rem;
    }
}
